.logobox {
  margin-right: 1rem;
}

.logo {
  background-color: #fff;
  max-width: 4.5rem;
  max-height: 4.5rem;
  padding: 0.25rem;
}

.logo a {
  color: #05336b;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  line-height: 1.2em;
}
