.card {
  width: 45%;
  height: 45%;
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

.card h1 {
  line-height: 1em;
  letter-spacing: 0.44px;
}

.card h1 a {
  color: #2b2b2b;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.card p a {
  color: #2b2b2b;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
}

.card p a:hover {
  color: #3030ec;
}

@media screen and (max-width: 725px) {
  .card {
    padding: 1rem !important;
    width: 100% !important;
    margin: 0 0 1rem 0 !important;
  }
}
