.alert {
  width: 100%;
  height: auto;
  background-color: #dbbd15;
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.alert p {
  color: #524e4e;
  text-align: center;
}

.alert p strong {
  color: #524e4e;
  font-weight: 500;
}
