.image {
  width: 100%;
  min-height: 10rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1dcdf52;
  border-radius: 6px;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
  cursor: pointer;
}
