.header{
    padding: 11px 11px 11px 6px;
    max-width: 1500px;
    width:100%;
    height: auto;
    background-color: #05336b;
    margin: 0 auto;
    line-height: 1rem;
    box-sizing: border-box;
    display: flex;
}