.current_city {
  border-right: 1px solid #ffffff33;
  width: 10rem;
  border: 1px solid red;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.current_city div {
  border: 1px solid rgb(42, 213, 243);
  height: 50%;
  width: 100%;
}

.current_city div a {
  padding: 0 1rem 0 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
}
