.alert {
  width: 50%;
  height: auto;
  background-color: #3bf5f047;
  padding: .5rem;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
}

.alert p {
  color: #fff;
  text-align: center;
}

.alert p span {
  display: block;
  color: #fff;
  font-weight: 500;
}
