.daily_forecast {
  height: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 #00000033;
  max-width: 75%;
  background-color: #fff;
  margin-top: 1rem;
}

.daily_forecast header {
  padding: 16px;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
}

.daily_forecast header h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: #2b2b2b;
  margin: 0;
}

.daily_forecast_main ul {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
}

.daily_forecast_main ul li:first-child {
  padding-left: 0;
}

.daily_forecast_main ul li:last-of-type {
  border: none;
}

.daily_forecast_main ul li {
  padding: 0 15px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      #dedede00 0,
      #dedede 25%,
      #dedede 70%,
      #dedede00 85%,
      #dedede00
    )
    1 100%;
}

.daily_forecast_main ul li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none !important;
}

.daily_forecast_main ul li a h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.66em;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
  color: #6f7585;
}

.daily_forecast_main ul li a div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily_forecast_main ul li a div:nth-of-type(1) span {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 0.83em;
  color: #1b4de4;
}

.daily_forecast_main ul li a div:nth-of-type(1) span:nth-of-type(2) {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.daily_forecast_main ul li a div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

.daily_forecast_main ul li a div:nth-of-type(2) img {
  width: 100%;
  height: auto;
}

.daily_forecast_main ul li a div:nth-of-type(3) {
  display: flex;
  align-items: center;
  color: #2b2b2b;
  font-size: 1rem;
  font-weight: 400;
}

.daily_forecast footer {
  padding: 0 16px 11px 11px;
}

.daily_forecast footer a {
  display: inline-block;
  border-radius: 16px;
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
  background-color: #1b4de4;
  border: 1px solid #1b4de4;
  text-decoration: none;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 700;
}

.daily_forecast footer a:hover {
  box-shadow: 0px 0px 7px 2px #456ce2;
}

@media screen and (max-width: 700px) {
  .daily_forecast header h2 {
    font-size: 0.875rem !important;
  }

  .daily_forecast_main ul li a h3 {
    font-size: 0.875rem !important;
  }

  .daily_forecast_main ul li a div:nth-of-type(3) {
    font-size: 0.75rem !important;
  }
} 

@media screen and (max-width: 580px) {
  .daily_forecast {
    max-width: 100% !important;
  }

  .daily_forecast_main ul li a div:nth-of-type(3) {
    text-align: center;
  }

}
